.App {
  text-align: center;
}

/*-------------------------
 Header section                        
-------------------------*/



.App-header div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.App-header img {
  margin: 1%;
  max-height: 100px;
  aspect-ratio: 1;
  display: inline-block;
}

.App-header h1 {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-header h4 {
  padding-left: 1%;
  padding-right: 1%;
}

/*-------------------------
 Body section                     
-------------------------*/

body {
  border-top: 1px solid #00000088;
  border-bottom: 1px solid #00000088;
}

.bodyInner {
  padding: 2%;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #00000088;
}

/*-------------------------
 TIPI form                        
-------------------------*/

.TIPIForm {
  width: 100%;
  margin-top: 10vw;
  margin-bottom: 10vw;

  font-family: Verdana, Geneva, Tahoma, sans-serif

}

.TIPIForm img {
  max-width: 200px;
}

/* Input slider */

.agreementSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif
}

.agreementSliderContainer span {
  display: inline-block;
  font-size: 1rem;
  width: 15%;
  min-height: 1vw;
}

.agreementSlider {
  display: inline-block;
  width: 70%;
  max-width: 800px;
  margin-left: 1%;
  margin-right: 1%;
  min-height: 1vw;
}

.speechBubble {
  text-align: center;
}
.speechBubble img {
  position: relative;
  width: 10px;
  bottom: 0;
}
.speechBubble p {
  position: relative;
  top: -4px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  font-family: Arial, Helvetica, sans-serif;

  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 1vw;
  width: 40%;
  padding: 1vw;

  box-shadow: 0px 5px 10px #00000044;
}

.agreementSliderContainer + p {
  font-family: Arial, Helvetica, sans-serif;

}

/* "Previous/Next Question" Buttons*/

.TIPIForm button {
  width: 48%;
  margin: 1%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.TIPIForm button img {
  min-width: 20px;
  width: 1vw;
}

/* TIPI Form progress bar */

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.progressBit {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  line-height: 1.25rem;
  margin: 1%;
  transition: background-color 0.3s;
  color: #00000088;
}

.progressBar .done {
  background-color: #5ed7ff;

}

.progressBar .notDone {
  background-color: lightgray;
}



.question h3 {
  text-align: center;
}

.question-choices {
  text-align: left;
}

.question-choices label {
  display: block;
}

/*-------------------------
 Recommendations Component       
-------------------------*/

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.recommendations {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.recommendationsContainer {
  display: flex;
  align-items: start;
  
  width: 100%;
  max-width: 1000px;
}

.recommendations h2 {
  width: 100%;
}

.filmRecommendation {
  width: 20%;
  display: inline-block;
  overflow: hidden;
}
.filmRecommendation h4 {
  overflow: scroll;
}

.filmThumbnail {
  width: 90%;
  margin: 5%;
  height: auto;
  aspect-ratio: 3/4;
  border-radius: 10px;
  object-fit: fill;
  background-color: #222222;
  box-shadow: 0px 10px 15px #00000088;

  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.filmRecommendation a {
  overflow: wrap;
}

/*-------------------------
 Miscellaneous     
-------------------------*/
.primaryButton {
  width: 100%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 

  background-color: rgb(0, 57, 131);
  color: white;
  border-radius: 1rem;
  border: none;
  
  transition: background-color 0.25s;
}

.primaryButton:hover {
  cursor: pointer;
  background-color: rgb(29, 80, 148);
}

.primaryButton:disabled {
  cursor: not-allowed;
  background-color: rgb(179, 179, 179);
  color: lightgray;
}

footer h2 {
  margin-top: 3rem;
}