.App {
  text-align: center;
}

/*-------------------------
 Header section                        
-------------------------*/

.App-header h1 {
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*-------------------------
 Body section                     
-------------------------*/

body {
  border-top: 1px solid #00000088;
  border-bottom: 1px solid #00000088;
}

.bodyInner {
  min-height: 50vmax;

  display: flex;
  align-items: center;

  padding-left: 2%;
  padding-right: 2%;
}

.divider {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #00000088;
}

/*-------------------------
 TIPI form                        
-------------------------*/

.TIPIForm {
  width: 100%;
  margin-top: 10vw;
  margin-bottom: 10vw;

}

.TIPIForm img {
  max-width: 200px;
}

/* Input slider */

.agreementSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreementSliderContainer span {
  display: inline-block;
  font-size: 1rem;
  min-height: 1vw;

  text-align: center;
}
.agreementSlider {
  display: inline-block;
  width: 80%;
  max-width: 800px;
  margin-left: 1%;
  margin-right: 1%;
  min-height: 1vw;
}

/* "Previous/Next Question" Buttons*/

.TIPIForm button {
  width: 48%;
  margin: 1%;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; 

  background-color: rgb(0, 57, 131);
  color: white;
  border-radius: 1rem;
  border: none;
  
  transition: background-color 0.25s;
}

.TIPIForm button:hover {
  cursor: pointer;
  background-color: rgb(29, 80, 148);
}

.TIPIForm button:disabled {
  cursor: not-allowed;
  background-color: rgb(179, 179, 179);
  color: lightgray;
}

.TIPIForm button img {
  min-width: 20px;
  width: 1vw;
}

/* TIPI Form progress bar */

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.progressBit {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  line-height: 1.25rem;
  margin: 1%;
  transition: background-color 0.3s;
  color: #00000088;
}

.progressBar .done {
  background-color: #5ed7ff;

}

.progressBar .notDone {
  background-color: lightgray;
}



.question h3 {
  text-align: center;
}

.question-choices {
  text-align: left;
}

.question-choices label {
  display: block;
}

/*-------------------------
 Recommendations Component       
-------------------------*/

.recommendations {
  width: 100%;
}

.recommendationsContainer {
  display: flex;
  align-items: start;
  width: 100%;
}

.recommendationsContainer h2 {
  width: 100%;
}

.filmRecommendation {
  width: 20%;
  display: inline-block;
  overflow: hidden;
  float: top;
}
.filmRecommendation h4 {
  overflow: scroll;
}

.filmThumbnail {
  width: 90%;
  margin: 5%;
  height: auto;
  aspect-ratio: 3/4;
  border-radius: 2.5vw;
  object-fit: fill;
  background-color: #222222;
  box-shadow: 0px 10px 15px #00000088
}

.filmRecommendation a {
  overflow: wrap;
}